ul.sf-menu_footer{
	display: inline-block;
	margin-top: 17px;
	margin-left: -10px;
}
ul.sf-menu_footer>li:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 4px;
	height: 4px;
	right: -8px;
	top: 6px;
	background: url(../images/footer_menu_sign.html) no-repeat 0 0;
}
ul.sf-menu_footer>li.last:before {background: none;}
ul.sf-menu_footer>li{
  font: 10px/16px "Ubuntu", Georgia, sans-serif;
  float:left; 
  position:relative;
  margin-left: 13px;
}
ul.sf-menu_footer>li>a{
	display:block;
	color:#bababa;
	font: 10px/16px "Ubuntu", Georgia, sans-serif;
	text-transform: uppercase;
	padding: 0 5px;
	letter-spacing: 0px;
	z-index: 1;
	position: relative;
}
ul.sf-menu_footer>li>a strong{
	width: 0%;
	height: 4px;
	position: absolute;
	/*background: #444444;*/
	display: inline-block;
	left: 0;
	top: 15px;
	z-index: -1;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

ul.sf-menu_footer>li.current , ul.sf-menu_footer>li.sfHover , ul.sf-menu_footer>li:hover {}
ul.sf-menu_footer>li.current>a, ul.sf-menu_footer>li.sfHover>a, ul.sf-menu_footer>li>a:hover{
	color:#0d0a07; 
	/*background: #f97e76;*/
}
ul.sf-menu_footer>li.current>a strong, ul.sf-menu_footer>li.sfHover>a strong, ul.sf-menu_footer>li>a:hover strong{/*height: 4px;*/ /*width: 100%;*/}












/*=======================superfish=========================*/
nav a{
	font-size: 14px;
}
nav{
	display:block;
	margin: 0px 0 0px 0;
	/*min-height: 50px;*/
	/*width: 100%;*/
	float:right;
	margin-right: -14px;
}
.sf-menu{display:inline-block; padding: 21px 0px 5px;}
.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{
  font: 18px/20px "Jockey One", Georgia, sans-serif; 
  float:left; 
  position:relative;
  margin-left: 25px;
}

  ul.sf-menu>li>a>.sf-sub-indicator{
	  display:block;
	  position:absolute;
	  width:7px;
	  height: 4px;
	  background: url(../images/indicator.png) 0 0 no-repeat;
	  top: 32px;
	  left:50%;
	  margin-left: -2px;
	  /*z-index: -2;*/
	  }

ul.sf-menu>li>a{
	display:block;
	color:#fff;
	font: 18px/20px "Jockey One", Georgia, sans-serif; 
	text-transform: uppercase;
	padding: 11px 13px;
	letter-spacing: 0px;
	z-index: 1;
	position: relative;
}
ul.sf-menu>li>a strong{
	width: 100%;
	height: 0px;
	position: absolute;
	background: #ed331a;
	display: inline-block;
	border-radius: 7px;
	left: 0;
	top: 0;
	z-index: -1;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{
	color:#fff; 
}
ul.sf-menu>li.current>a strong, ul.sf-menu>li.sfHover>a strong, ul.sf-menu>li>a:hover strong{height: 100%; /*width: 100%;*/}
/*submenu1*/
.sf-menu>li>ul{
	left:-20px;
	top:43px;
	width:120px;
	z-index:99;
	background: #2b2b2d;
	padding:24px 0 11px 0;
	border-radius: 7px;
}
.sf-menu>li>ul>li {
	font-size: 12px; 
	font-weight:normal;
	position:relative;
	padding:0; 
	padding-bottom: 5px;
	text-align: left;
}
.sf-menu>li>ul>li:first-child{}

.sf-menu>li>ul>li>a {
	display: block;
	color:#fff;
	font:12px/14px Arial, Georgia, sans-serif;
	padding: 3px 0;
	text-indent: 22px;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#fff; background: #eb3d36; text-decoration: none;}

/*submenu2*/
.sf-menu li li ul {
	left: 120px !important;
	top:-8px !important;
	display:block;
	width:92px;
	z-index:99;
	background: #eb3d36; 
	padding:8px 0 0px 0;
	border-radius: 5px;
}
.sf-menu>li>ul>li>a>span {
	background: url(../images/subindicator.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	width: 4px;
	height: 7px;
	top: 6px;
	right: 8px;
}
.sf-menu>li>ul>li.sfHover>a>span {
	background-position: right 0;
}
.sf-menu li li li {
	float:none;
	font-size: 12px;
	padding:0; 
	padding-bottom: 5px;
	text-align: left;
	}
					
.sf-menu li li li a {
	display: block;
	color:#fff !important;
	display: block;
	font:12px/14px Arial, Georgia, sans-serif;
	padding: 3px 0;
	text-indent: 20px;
	text-transform: uppercase;
	letter-spacing: 0px;
	background: none !important
	}
.sf-menu li li li:hover {}
.sf-menu li li li a:hover {color:#fff !important; background: #333 !important; text-decoration: none;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	nav{margin: 0;}
	/*ul.sf-menu>li{margin-left: 1px;}
	ul.sf-menu>li>a{padding: 0 7px;}*/
	nav{margin-right: 0px;}
	ul.sf-menu>li{margin-left: 1px;}
}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 21px !important;
		
	}
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#98628b;
		padding:0px 0px 0px;
		width: 100%;
		margin: 0 auto;
		margin-top: 10px !important;
		border: none;
		margin-bottom: 20px;
	}
		/*nav:before{
			content:'Menu:';
			text-align: left;
			display:block;
			margin-bottom:5px;
			color: #474747;
			
		}*/
	.sf-menu{display:none;float: none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#101010;
		width:100%;
		left: 0%;
		position: relative;
		margin: 0 auto;
		float: none;
    	outline: none;
		border:2px solid #ed331a;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
